.container {
  padding-top: 120px;
  max-width: 1290px;
  margin: 0 auto;
}

.hero {
  border-bottom: 1px solid #ededed;
  display: flex;
  gap: 100px;
  margin-bottom: 60px;
  .hero__info {
    .hero__uptitle {
      font-family: 'Inter';
      font-size: 16px;
      line-height: 19px;
      color: #59639d;
      margin-bottom: 15px;
    }
    .hero__title {
      font-size: 48px;
      line-height: 50px;
      color: #314dcb;
      width: 554px;
      font-family: 'Golos-bold';
      margin-bottom: 15px;
    }
    .hero__description {
      width: 485px;
      font-family: 'Inter';
      font-size: 16px;
      line-height: 19px;
      color: #33395b;
      margin-bottom: 50px;
    }
    .hero__button {
      width: 237px;
      height: 52px;
      background: #314dcb;
      border-radius: 5px;
      border: none;
      font-family: 'Inter';
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      cursor: pointer;
      margin-bottom: 68px;
    }
  }
  .hero__advantages {
    position: relative;
    z-index: 1;
    width: 500px;
    .hero__bg {
      position: absolute;
      margin-top: -60px;
      z-index: -10;
      max-width: 40vw;
      object-fit: cover;
    }
    .hero__items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .hero__item {
        width: 288px;
        height: 88px;
        display: flex;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding-left: 20px;
        .item__img {
          margin-right: 15px;
        }
        &__info {
          border-left: 1px solid #ededed;
          padding-left: 15px;
          .info__counter {
            font-size: 24px;
            color: #33395b;
            font-family: 'Golos-bold';
            margin-bottom: 10px;
          }
          .info__text {
            font-size: 16px;
            line-height: 19px;
            color: #33395b;
            font-family: 'Inter';
          }
        }
      }
    }
  }
}

.inputs__block {
  display: flex;
  margin-bottom: 160px;
  .search__block {
    margin-right: 24px;
    border-left: 10px solid #314dcb;
    padding-left: 15px;
    .search__title {
      font-family: 'Golos-medium';
      font-size: 16px;
      line-height: 19px;
      color: #33395b;
      margin-bottom: 15px;
    }
    .search {
      display: flex;
      align-items: center;
      border: 1px solid #d6d6d6;
      border-radius: 5px;
      padding: 1px;
      max-width: 433px;
      img {
        margin-right: 10px;
        cursor: pointer;
      }
      input {
        width: 20vw;
        height: 47px;
        padding: 10px;
        outline: none;
        border: 0;
      }
    }
  }

  .calculate__block {
    display: flex;
    border-left: 10px solid #314dcb;
    padding-left: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
    .calculate__title {
      font-family: 'Golos-medium';
      font-size: 16px;
      line-height: 19px;
      color: #33395b;
      margin-bottom: 15px;
      flex-basis: 100%;
    }
    .calculate__sender {
      display: flex;
      align-items: center;
      max-width: 300px;
      border: 1px solid #d6d6d6;
      border-radius: 5px;
      padding: 1px;
      margin-right: 10px;
      input {
        width: 300px;
        height: 47px;
        padding: 10px;
        outline: none;
        border: 0;
      }
    }
    .calculate__reciever {
      display: flex;
      align-items: center;
      max-width: 300px;
      border: 1px solid #d6d6d6;
      border-radius: 5px;
      padding: 1px;
      input {
        width: 300px;

        height: 47px;
        padding: 10px;
        outline: none;
        border: 0;
      }
    }
    .calculate__btn {
      width: 152px;
      height: 51px;
      background: #e8ecff;
      border-radius: 5px;
      border: none;
      font-family: 'Inter';
      font-size: 20px;
      line-height: 24px;
      color: #59639d;
      cursor: pointer;
      margin-left: 15px;
    }
  }
}

.service {
  margin-bottom: 160px;
  .service__title {
    font-family: 'Golos-bold';
    font-size: 32px;
    line-height: 38px;
    color: #33395b;
    margin-bottom: 50px;
  }
  .service__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.advantages {
  margin-bottom: 160px;
  .advantages__title {
    font-size: 32px;
    line-height: 38px;
    color: #33395b;
    font-family: 'Golos-bold';
    margin-bottom: 50px;
  }
  .advantages__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .advantages__item {
      width: 300px;
      height: 300px;
      background: #ffffff;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      padding: 30px 0;
      .advantages__img {
        width: 126px;
        height: 126px;
        background: #e8ecff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 25px;
      }
      .advantages__item__title {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #33395b;
        font-family: 'Golos-medium';
        margin-bottom: 15px;
      }
      .advantages__item__description {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #33395b;
      }
    }
  }
}

@media (max-width: 428px) {
  .container {
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    .hero {
      display: flex;
      flex-direction: column;
      .hero__title {
        font-size: 32px;
        line-height: 38px;
        width: 388px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
      }
      .hero__description {
        font-size: 16px;
        text-align: center;
        width: 388px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      .hero__button {
        width: 388px;
        height: 50px;
        display: block;
        margin: 0 auto;
      }
    }
    .hero__advantages {
      width: 388px;
      padding-bottom: 60px;
      .hero__bg {
        display: none; // FIX FIX FIX
      }
      .hero__items {
        align-items: center;
        // padding: 0 40px;
      }
    }
    .inputs__block {
      flex-direction: column;
      width: 388px;
      margin: 0 auto;
      margin-bottom: 120px;

      .search__block {
        margin-bottom: 20px;
        .search {
          width: 368px;
          height: 51px;
          input {
            width: 358px;
          }
          img {
            margin-left: 100px;
          }
        }
      }
      .calculate__block {
        display: block;
        .calculate__sender {
          display: block;
          border: none;
          margin-bottom: 15px;
          input {
            border: 1px solid #d6d6d6;
            width: 368px;
            height: 51px;
            padding: 10px;
            outline: none;
            border-radius: 5px;
          }
        }
        .calculate__reciever {
          display: block;
          border: none;
          margin-bottom: 20px;
          input {
            border: 1px solid #d6d6d6;
            width: 368px;
            height: 51px;
            padding: 10px;
            outline: none;
            border-radius: 5px;
          }
        }
        .calculate__btn {
          margin-left: 0;
          width: 368px;
          height: 51px;
        }
      }
    }
    .service {
      .service__title {
        margin-left: 20px;
      }
      .service__blocks {
        width: 388px;
        margin: 0 auto;
      }
    }
    .advantages {
      width: 388px;
      margin: 0 auto;
      .advantages__block {
        display: block;
        .advantages__item {
          width: 388px;
          height: 300px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.safe {
  margin-bottom: 160px;
  .safe__title {
    font-size: 32px;
    line-height: 38px;
    color: #33395b;
    font-family: 'Golos-bold';
    margin-bottom: 50px;
  }
  .safe__subtitle {
    font-size: 16px;
    line-height: 150%;
    color: #33395b;
    margin-bottom: 30px;
  }
  .safe_levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .level {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 777px;
    .level__title {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      font-family: 'Golos-medium';
      color: #33395b;
    }
    .counter {
      background: #314dcb;
      width: 34px;
      height: 34px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-family: 'Golos-medium';
      text-align: center;
      color: #ffffff;
    }
    .level__description {
      width: 400px;
      font-size: 16px;
      line-height: 150%;
      color: #33395b;
    }
  }
}
